@model IEnumerable<WebApplication1.Models.HEPMA.Hardware>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HAssetNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HMacAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HNetworkPort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HNPInUse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HElectricalSocket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HESInUse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HTrailingSocket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HLoIId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HAssetNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HMacAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HNetworkPort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HNPInUse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HElectricalSocket)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HESInUse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HTrailingSocket)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HLoIId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HId })
        </td>
    </tr>
}

</table>
