@model IEnumerable<WebApplication1.Models.HEPMA.BaUChecklist>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SiteLocation.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaUChecklistSuccessfulGoLive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaUChecklistSuccessfulGoliveNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaUChecklistTrainingComplete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaUChecklistTrainingCompleteNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaUChecklistUserSetup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaUChecklisUserSetupNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaUChecklistHardwareSetup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaUChecklistHardwareSetupNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaUChecklistHardwareUseAgreed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaUChecklistHardwareUseAgreedNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaUChecklistContingencyAgreed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaUChecklistContingencyAgreedNotes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SiteLocation.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaUChecklistSuccessfulGoLive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaUChecklistSuccessfulGoliveNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaUChecklistTrainingComplete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaUChecklistTrainingCompleteNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaUChecklistUserSetup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaUChecklisUserSetupNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaUChecklistHardwareSetup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaUChecklistHardwareSetupNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaUChecklistHardwareUseAgreed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaUChecklistHardwareUseAgreedNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaUChecklistContingencyAgreed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaUChecklistContingencyAgreedNotes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BaUChecklistId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BaUChecklistId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BaUChecklistId })
        </td>
    </tr>
}

</table>
