@model IEnumerable<WebApplication1.Models.HEPMA.AoCAssessment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SiteLocation.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCAssessmentGoodToGo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCAssessmentGoodToGoDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCAssessmentITLiteracy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCAssessmentUseOfTrak)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCAssessmentHardwareQuality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCAssessmentHardwareQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCAssessmentHardwareLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCAssessmentBusinessProcessDifference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCAssessmentGeneralNotes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SiteLocation.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCAssessmentGoodToGo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCAssessmentGoodToGoDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCAssessmentITLiteracy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCAssessmentUseOfTrak)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCAssessmentHardwareQuality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCAssessmentHardwareQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCAssessmentHardwareLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCAssessmentBusinessProcessDifference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCAssessmentGeneralNotes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AoCAssessmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AoCAssessmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AoCAssessmentId })
        </td>
    </tr>
}

</table>
