@model WebApplication1.Models.HEPMA.AreaOfCare

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AreaOfCare</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SiteLocation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteLocation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCImplementationOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCImplementationOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCRecordOpened)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCRecordOpened)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCRecordClosed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCRecordClosed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCFirstContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCFirstContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCFirstContactDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCFirstContactDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCLive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCLive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCLiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCLiveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCBaU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCBaU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCBaUDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCBaUDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCOnHold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCOnHold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoConHoldReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoConHoldReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCMedicinesReconciliation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCMedicinesReconciliation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCMedicinesReconciliationRealTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCMedicinesReconciliationRealTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCOutpatientClinicManagedOnTrak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCOutpatientClinicManagedOnTrak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCOutpatientClinicManagedOnTrakInRealTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCOutpatientClinicManagedOnTrakInRealTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCADTsManagedOnTrak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCADTsManagedOnTrak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCADTsManagedOnTraIInRealTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCADTsManagedOnTraIInRealTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCIDLsProducedInTrak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCIDLsProducedInTrak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCIDLsProducedInTrakInRealTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCIDLsProducedInTrakInRealTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCWardRounds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCWardRounds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCDoctorsRoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCDoctorsRoom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCNursesStation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCNursesStation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCOffice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCOffice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCOfficeText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCOfficeText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCPOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCPOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCPOtherText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCPOtherText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCDrugRoundAtBedside)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCDrugRoundAtBedside)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCDrugRoundFromCentralPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCDrugRoundFromCentralPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCPatientComesToCentralPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCPatientComesToCentralPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCMAOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCMAOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCMAOtherText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCMAOtherText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCBedside)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCBedside)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCCentralPointInWard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCCentralPointInWard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCPCOher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCPCOher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCPCOtherText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCPCOtherText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AoCId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
