@model IEnumerable<WebApplication1.Models.HEPMA.AreaOfCare>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SiteLocation.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCImplementationOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCRecordOpened)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCRecordClosed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCFirstContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCFirstContactDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCLive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCLiveDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCBaU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCBaUDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCOnHold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoConHoldReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCMedicinesReconciliation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCMedicinesReconciliationRealTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCOutpatientClinicManagedOnTrak)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCOutpatientClinicManagedOnTrakInRealTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCADTsManagedOnTrak)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCADTsManagedOnTraIInRealTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCIDLsProducedInTrak)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCIDLsProducedInTrakInRealTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCWardRounds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCDoctorsRoom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCNursesStation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCOffice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCOfficeText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCPOther)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCPOtherText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCDrugRoundAtBedside)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCDrugRoundFromCentralPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCPatientComesToCentralPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCMAOther)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCMAOtherText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCBedside)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCCentralPointInWard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCPCOher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCPCOtherText)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SiteLocation.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCImplementationOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCRecordOpened)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCRecordClosed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCFirstContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCFirstContactDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCLive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCLiveDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCBaU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCBaUDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCOnHold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoConHoldReason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCMedicinesReconciliation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCMedicinesReconciliationRealTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCOutpatientClinicManagedOnTrak)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCOutpatientClinicManagedOnTrakInRealTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCADTsManagedOnTrak)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCADTsManagedOnTraIInRealTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCIDLsProducedInTrak)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCIDLsProducedInTrakInRealTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCWardRounds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCDoctorsRoom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCNursesStation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCOffice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCOfficeText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCPOther)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCPOtherText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCDrugRoundAtBedside)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCDrugRoundFromCentralPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCPatientComesToCentralPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCMAOther)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCMAOtherText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCBedside)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCCentralPointInWard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCPCOher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCPCOtherText)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AoCId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AoCId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AoCId })
        </td>
    </tr>
}

</table>
