@model WebApplication1.Models.HEPMA.HospitalSite

@{
    ViewBag.Title = "Details";
}

<h2>Hospital Site Details</h2>

<h4><strong>@Model.Name</strong></h4>

@Html.ActionLink("Back to list of hospital sites", "../HospitalSites/Index")
<hr />


<div class="row">
    @*start of left panel /////////////////////////////////////////////////*@
    <div class="col-lg-4">
        <div class="panel">

            <div class="panel-heading bg-primary">
                <h3>@Html.DisplayFor(model => model.Name)</h3>

                <p class="bg-info text-center">
                    <strong>@Html.ActionLink("Edit Hospital Site", "Edit", new { id = Model.Id })</strong>
                </p>

            </div>

            <div class="panel-body">

                <div class="col-lg-4">
                    @Html.DisplayNameFor(model => model.Name) :
                </div>
                <div class="col-lg-8">
                    @Html.DisplayFor(model => model.Name)
                </div>

                <div class="col-lg-4">
                    @Html.DisplayNameFor(model => model.Description) :
                </div>
                <div class="col-lg-8">
                    @Html.DisplayFor(model => model.Description)
                </div>

                <div class="col-lg-4">
                    @Html.DisplayNameFor(model => model.Notes) :
                </div>
                <div class="col-lg-8">
                    @Html.DisplayFor(model => model.Notes)
                </div>

                <p>&nbsp;</p>

                <div class="col-lg-4">
                    Site locations :
                </div>
                <div class="col-lg-8">
                    @ViewBag.SiteLocationsCount
                </div>


            </div>@*end of panel-body*@

            <div class="panel-footer">
                <!-- Trigger the modal notes area -->
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Hospital Site Notes</button>
            </div>

        </div>
    </div>

    @*start of right panel ////////////////////////////////////////////////*@
    <div class="col-lg-8">
        <div class="row">
            <div class="table">
                <table class="table table-dark">

                    <tr class="bg-primary">
                        <td><strong>Name</strong></td>
                        <td><strong>Description</strong></td>
                        <td><strong>Notes</strong></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        @*<td><strong>@Html.ActionLink("Create New", "../SiteLocations/Create")</strong></td>*@
                    </tr>

                    @foreach (var siteLocation in ViewBag.SiteLocations)
                    {
                        <tr>
                            <td>@siteLocation.Name</td>
                            <td>@siteLocation.Descrption</td>
                            <td>@siteLocation.Notes</td>

                            <td>@Html.ActionLink("Details", "../SiteLocations/Details", new { id = siteLocation.Id })</td>
                            <td>
                                | @Html.ActionLink("Edit", "../SiteLocations/Edit", new { id = siteLocation.Id })
                                | @Html.ActionLink("Delete", "../SiteLocations/Delete", new { id = siteLocation.Id }) |
                            </td>
                        </tr>
                    } @*---------------------close offor each----------------------------*@
                    <tr class="alert-info">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>@Html.ActionLink("Create New", "../SiteLocations/Create", new { id = Model.Id })</strong></td>
                    </tr>
                </table>

            </div>
        </div>
        
        
        
        
        
        
        
        @*<div class="panel">

            <div class="panel-heading bg-primary">
                <div class="row">
                    <div class="col-lg-3">
                        <p>Site location</p>
                    </div>
                    <div class="col-lg-3">
                        <p>Site location</p>
                    </div>
                    <div class="col-lg-3">
                        <p>Site location</p>
                    </div>
                    <div class="col-lg-3">
                        <p>Site location</p>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3">
                        <p>@Html.DisplayFor(model => model.Name)</p>
                    </div>
                    <div class="col-lg-3">
                        <p>@Html.DisplayFor(model => model.Description)</p>
                    </div>
                    <div class="col-lg-3">
                        <p>@Html.DisplayFor(model => model.Notes)</p>
                    </div>
                    <div class="col-lg-3">
                        <p>Site location</p>
                    </div>
                </div>

            </div>
        </div>*@
    </div>


</div>@*end of class row*@



<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- Notes - Modal code -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Hospital Site Notes</h4>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id ullamcorper ligula, non facilisis diam. Aenean eleifend est purus, in consectetur enim bibendum at. Nam ullamcorper pretium mauris. Vivamus diam odio, ullamcorper eu pharetra id, eleifend ut quam. Curabitur non placerat neque. Fusce porta sed eros sit amet bibendum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id ullamcorper ligula, non facilisis diam. Aenean eleifend est purus, in consectetur enim bibendum at. Nam ullamcorper pretium mauris. Vivamus diam odio, ullamcorper eu pharetra id, eleifend ut quam. Curabitur non placerat neque. Fusce porta sed eros sit amet bibendum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id ullamcorper ligula, non facilisis diam. Aenean eleifend est purus, in consectetur enim bibendum at. Nam ullamcorper pretium mauris. Vivamus diam odio, ullamcorper eu pharetra id, eleifend ut quam. Curabitur non placerat neque. Fusce porta sed eros sit amet bibendum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id ullamcorper ligula, non facilisis diam. Aenean eleifend est purus, in consectetur enim bibendum at. Nam ullamcorper pretium mauris. Vivamus diam odio, ullamcorper eu pharetra id, eleifend ut quam. Curabitur non placerat neque. Fusce porta sed eros sit amet bibendum.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////-->





