@model WebApplication1.Models.HEPMA.HospitalSite

@{
    ViewBag.Title = "Details";
}


<h2>Hospital Site Details</h2>

<h4><strong>@Model.Name</strong></h4>

@Html.ActionLink("Back to list of hospital sites", "../HospitalSites/Index")

<hr />


<div class="row">
    
    <div class="col-lg-4">
        @*start of left panel /////////////////////////////////////////////////*@
        <div class="panel custom_roundedBorderAll" style="border: 1px solid black">

            <div class="panel-heading custom_panelHeadingBG custom_roundedBorderTop">

                <h3 style="color:white"><strong>@Html.DisplayFor(model => model.Name)</strong></h3>

                <p class="custom_colour-4 text-center custom_roundedBorderAll"> <strong>@Html.ActionLink("Edit Hospital Site", "Edit", new { id = Model.Id }) </strong> </p>

            </div>

            <div class="panel-body">
                <div class="col-lg-12 custom_colour-5 custom_roundedBorderTop" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayNameFor(model => model.Description) :
                </div>
                <div class="col-lg-12 custom_colour-3 custom_roundedBorderBottom" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayFor(model => model.Description)
                </div>

                <div class="col-lg-12 custom_colour-5 custom_roundedBorderTop" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayNameFor(model => model.Notes) :
                </div>
                <div class="col-lg-12 custom_colour-3 custom_roundedBorderBottom" style=" border-style: solid; border-color: white">
                    @Html.DisplayFor(model => model.Notes)
                </div>

                <div class="col-lg-6 custom_colour-5 custom_roundedBorderLeft" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayNameFor(model => model.PlannedStart) :
                </div>
                <div class="col-lg-6 custom_colour-3 custom_roundedBorderRight" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayFor(model => model.PlannedStart) &nbsp;
                </div>

                <div class="col-lg-6 custom_colour-5 custom_roundedBorderLeft" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayNameFor(model => model.PlannedComplete) :
                </div>
                <div class="col-lg-6 custom_colour-3 custom_roundedBorderRight" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayFor(model => model.PlannedComplete) &nbsp;
                </div>

                <div class="col-lg-6 custom_colour-5 custom_roundedBorderLeft" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayNameFor(model => model.AccommodationComplimentStandardBed) :
                </div>
                <div class="col-lg-6 custom_colour-3 custom_roundedBorderRight" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayFor(model => model.AccommodationComplimentStandardBed) &nbsp;
                </div>

                <div class="col-lg-6 custom_colour-5 custom_roundedBorderLeft" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayNameFor(model => model.AccommodationComplimentDaySurgeryBed) :
                </div>
                <div class="col-lg-6 custom_colour-3 custom_roundedBorderRight" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayFor(model => model.AccommodationComplimentDaySurgeryBed) &nbsp;
                </div>

                <div class="col-lg-6 custom_colour-5 custom_roundedBorderLeft" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayNameFor(model => model.AccommodationComplimentTrolly) :
                </div>
                <div class="col-lg-6 custom_colour-3 custom_roundedBorderRight" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayFor(model => model.AccommodationComplimentTrolly) &nbsp;
                </div>

                <div class="col-lg-6 custom_colour-5 custom_roundedBorderLeft" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayNameFor(model => model.AccommodationComplimentChair) :
                </div>
                <div class="col-lg-6 custom_colour-3 custom_roundedBorderRight" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayFor(model => model.AccommodationComplimentChair) &nbsp;
                </div>

                <div class="col-lg-6 custom_colour-5 custom_roundedBorderLeft" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayNameFor(model => model.AccommodationComplimentSpecialCareBabyUnitCot) :
                </div>
                <div class="col-lg-6 custom_colour-3 custom_roundedBorderRight" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayFor(model => model.AccommodationComplimentSpecialCareBabyUnitCot) &nbsp;
                </div>

                <p>&nbsp;</p>
                <div class="col-lg-6">
                    Site locations :
                </div>
                <div class="col-lg-6">
                    @ViewBag.SiteLocationsCount
                </div>
            </div>@*end of panel-body*@

            <div class="panel-footer custom_panelFooterBG custom_roundedBorderBottom">
                <!-- Trigger the modal notes area -->
                <button type="button" class="btn custom_colour-5 btn-sm custom_roundedBorderAll" data-toggle="modal" data-target="#myModal">Hospital Site Notes</button>

                <!--Link to hospital notes create page -->
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Add Hospital Site Note", "../NotesFieldsHospitalSite/create", new { id = Model.Id })
            </div>
        </div>
    </div>

    @*start of right panel ////////////////////////////////////////////////*@
    <div class="col-lg-8">
        <div class="row">
            <div class="table">
                <table class="table table-condensed">

                    <tr class="custom_colour-1" style="color:white">
                        <td class="col-lg-2" style="border-radius:12px 0px 0px 0px;padding:5px; border-style: solid; border-color: white;"><strong>Site Locations</strong></td>
                        <td class="col-lg-2" style="padding:5px; border-style: solid; border-color: white;"><strong>Description</strong></td>
                        <td class="col-lg-2" style="padding:5px; border-style: solid; border-color: white"><strong>No. AoCs</strong></td>
                        <td class="col-lg-2"style="padding:5px; border-style: solid; border-color: white">&nbsp;</td>
                    </tr>

                    @{ 
                        int i = 0;
                    }
                    @foreach (var siteLocation in ViewBag.SiteLocations)
                    {
                    <tr>
                        <td style="background:#fac808; padding:5px; border-style: solid; border-color: white"><strong>@siteLocation.Name</strong></td>
                        <td>@siteLocation.Descrption</td>
                        <td>@ViewBag.AreaOfCareCount[i]</td>
                        <td>@Html.ActionLink("Details", "../SiteLocations/Details", new { id = siteLocation.Id })</td>
                    </tr>
                        i++;
                    } @*---------------------close of for each loop ----------------------------*@

                    <tr class="alert-info" style="padding:5px; border-style: solid; border-color: white">
                        <td style="padding:5px; border-style: solid; border-color: white; border-radius: 0px 0px 0px 12px"></td>
                        <td style="padding:5px; border-style: solid; border-color: white"></td>
                        <td style="padding:5px; border-style: solid; border-color: white"></td>
                        @*<td></td>*@
                        <td class="bg-success" style="padding:5px; border-style: solid; border-color: white"><strong>@Html.ActionLink("Create New", "../SiteLocations/Create", new { id = Model.Id })</strong></td>
                    </tr>
                </table>

            </div>
        </div>
        
    </div>

</div>@*end of class row*@

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- Notes - Modal code -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Hospital Site Notes</h4>
            </div>
            <div class="modal-body">

                @foreach(var note in ViewBag.HospitalNotes)
                {
                    <div class="panel">
                        <div class="panel-heading" style="background:#fac808">
                            <p>@note.CreatedBy - @note.CreatedOn - @note.NoteType</p>
                        </div>
                        <div class="panel-body">
                            <p>@note.Note</p>
                        </div>
                    </div>
                    
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////-->





