@model IEnumerable<WebApplication1.Models.HEPMA.HospitalSite>

@{
    ViewBag.Title = "Hospital Sites";
}


        <h2>Hospital Sites</h2>
<p>.</p>
<p>.</p>
<hr />

@*<h2>Hospital Sites</h2>*@

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr class="bg-primary">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })
        </td>
        <td>
            | @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
            | @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
        </td>
    </tr>
}
    <tr class="bg-info">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><strong>@Html.ActionLink("Create New", "Create")</strong></td>
    </tr>
</table>
