@model IEnumerable<WebApplication1.Models.HEPMA.HospitalSite>

@{
    ViewBag.Title = "Hospital Sites";
}
        <h2>Hospital Sites</h2>
<p>.</p>
<p>.</p>
<hr />
<!-- ////////////////////////////////////////////////////////////////////////// -->
<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>


<table class="table">
    <tr class="bg-primary">
        @*<th class="col-lg-3" style="padding:5px; border-style: solid; border-color: white">*@
        <th class="col-lg-5 custom_colour-5 custom_roundedBorderTop" style="padding:5px; border-style: solid; border-color: white">
            @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="col-lg-2" style="padding:5px; border-style: solid; border-color: white">
                @Html.DisplayNameFor(model => model.PlannedStart)
            </th>
            <th class="col-lg-2" style="padding:5px; border-style: solid; border-color: white">
                @Html.DisplayNameFor(model => model.PlannedComplete)
            </th>
            <th class="col-lg-2" style="padding:5px; border-style: solid; border-color: white">
                &nbsp;
            </th>
            <th class="col-lg-1" style="padding:5px; border-style: solid; border-color: white">
                &nbsp;
            </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="background:#fac808; padding:5px; border-style: solid; border-color: white">
            <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlannedStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlannedComplete)
        </td>
        <th>
            &nbsp;
        </th>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })
        </td>
        @*<td>
            | @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            | @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
        </td>*@
    </tr>
}
<tr class="bg-info">
    @*<td style="padding:5px; border-style: solid; border-color: white"></td>*@
    <td class="col-lg-12 custom_colour-5 custom_roundedBorderBottom" style="padding:5px; border-style: solid; border-color: white">
        <td style="padding:5px; border-style: solid; border-color: white"></td>
        <td style="padding:5px; border-style: solid; border-color: white"></td>

        <td style="padding:5px; border-style: solid; border-color: white"></td>
        <td class="bg-success" style="padding:5px; border-style: solid; border-color: white"><strong>@Html.ActionLink("Create New", "Create")</strong></td>
</tr>
</table>
