@model WebApplication1.Models.HEPMA.LocationOfInterest

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LocationOfInterest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoIName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoIName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoIRoomReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoIRoomReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoIDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoIDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoIPrescribing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoIPrescribing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoIMedicinesAdministration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoIMedicinesAdministration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoIPharmacyCheck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoIPharmacyCheck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoINotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoINotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoIAoCId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoIAoCId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
