@model WebApplication1.Models.HEPMA.LocationOfInterest

@{
    ViewBag.Title = "Details";
}

<h2>Location of Interest Details </h2>

<!-- LoI Page Header - start ////////////////////////////////////////////////////////////////////////////////-->
<div>

    
        @*@Html.ActionLink("Back to List", "../AreaOfCares/Details/", new { id = Model.LoIAoCId })*@
        <p>@ViewBag.HospitalSite.Name >> @ViewBag.SiteLocationName >> @ViewBag.AreaOfCareName >> @Model.LoIName</p>
    

    
        @Html.ActionLink("Back to List of Hospitals", "../HospitalSites/Index")
        ||
        @Html.ActionLink("Back to parent Hospital Site", "../HospitalSites/Details", new { id = ViewBag.hospitalSiteID })
        ||
        @Html.ActionLink("Back to parent Site Location", "../SiteLocations/Details", new { id = ViewBag.siteLocationID })
        ||
        @Html.ActionLink("Back to parent Area of Care", "../AreasOfCare/Details", new { id = Model.LoIAoCId })
    

    <hr />

</div>
<!-- LoI Page Header - end ////////////////////////////////////////////////////////////////////////////////-->

<div class="row">

    <div class="col-lg-4">
        <!-- LoI Left column ////////////////////////////////////////////////////////////////////////////////////// -->

        <div class="panel">
            <div class="panel-heading bg-primary">
                <h3>@Html.DisplayFor(model => model.LoIName)</h3>
                <p class="bg-info text-center">
                    <strong>@Html.ActionLink("Edit Location of Interest", "Edit", new { id = Model.LoIId })</strong>
                </p>
            </div>
            <div class="panel-body">

                <div class="col-lg-6 bg-success" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayNameFor(model => model.LoIRoomReference):
                </div>
                <div class="col-lg-6" style="padding:5px; background:#fac808; border-style: solid; border-color: white">
                    @Html.DisplayFor(model => model.LoIRoomReference)
                </div>

                <div class="col-lg-12 bg-success" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayNameFor(model => model.LoIDescription):
                </div>
                <div class="col-lg-12" style="padding:5px; background:#fac808; border-style: solid; border-color: white">
                    @Html.DisplayFor(model => model.LoIDescription) &nbsp;
                </div>

                <div class="col-lg-6 bg-success" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayNameFor(model => model.LoIPrescribing):
                </div>
                <div class="col-lg-6" style="padding:5px; background:#fac808; border-style: solid; border-color: white">
                    @Html.DisplayFor(model => model.LoIPrescribing)
                </div>

                <div class="col-lg-6 bg-success" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayNameFor(model => model.LoIMedicinesAdministration):
                </div>
                <div class="col-lg-6" style="padding:5px; background:#fac808; border-style: solid; border-color: white">
                    @Html.DisplayFor(model => model.LoIMedicinesAdministration)
                </div>

                <div class="col-lg-6 bg-success" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayNameFor(model => model.LoIPharmacyCheck):
                </div>
                <div class="col-lg-6" style="padding:5px; background:#fac808; border-style: solid; border-color: white">
                    @Html.DisplayFor(model => model.LoIPharmacyCheck)
                </div>

                <div class="col-lg-12 bg-success" style="padding:5px; border-style: solid; border-color: white">
                    @Html.DisplayNameFor(model => model.LoINotes):
                </div>
                <div class="col-lg-12" style="padding:5px; background:#fac808; border-style: solid; border-color: white">
                    @Html.DisplayFor(model => model.LoINotes)
                </div>

            </div>
            <div class="panel-footer">

                <div class="row">
                    <div class="col-lg-6 text-center">
                        <!-- Trigger the modal notes area -->
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Hospital Site Notes</button>
                    </div>
                    <div class="col-lg-6 text-center">
                        <!--Link to hospital notes create page -->
                        <href>Add Note</href>@*@Html.ActionLink("Add Hospital Site Note", "../NotesFieldsHospitalSite/create", new { id = Model.AoCId })*@
                    </div>
                </div>


            </div>
        </div>

    </div>

    <div class="col-lg-8">
        <!-- LoI Right column ////////////////////////////////////////////////////////////////////////////////////// -->

        <table class="table">

            <tr class="bg-primary">
                <td style="padding:5px; border-style: solid; border-color: white">Type</td>
                <td style="padding:5px; border-style: solid; border-color: white">Asset NUmber</td>
                <td style="padding:5px; border-style: solid; border-color: white">Mac Address</td>
                <td style="padding:5px; border-style: solid; border-color: white">Network Port</td>
                <td style="padding:5px; border-style: solid; border-color: white">NP In Use</td>
                <td style="padding:5px; border-style: solid; border-color: white">Electrical Socket</td>
                <td style="padding:5px; border-style: solid; border-color: white">ES In Use</td>
                <td style="padding:5px; border-style: solid; border-color: white">Trailing Socket</td>
                <td style="padding:5px; border-style: solid; border-color: white">&nbsp;</td>
            </tr>


            @foreach (var ListOfHardware in ViewBag.Hardware)
        {
            <tr>

                <td class="" style="border-style: solid; border-color: white">@ListOfHardware.HType</td>
                <td class="" style="border-style: solid; border-color: white">@ListOfHardware.HAssetNumber</td>
                <td class="" style="border-style: solid; border-color: white">@ListOfHardware.HMacAddress</td>
                <td class="" style="border-style: solid; border-color: white">@ListOfHardware.HNetworkPort</td>
                <td class="" style="border-style: solid; border-color: white">@ListOfHardware.HNPInUse</td>
                <td class="" style="border-style: solid; border-color: white">@ListOfHardware.HElectricalSocket  </td>
                <td class="" style="border-style: solid; border-color: white">@ListOfHardware.HESInUse</td>
                <td class="" style="border-style: solid; border-color: white">@ListOfHardware.HTrailingSocket</td>
            </tr>

        }


            <tr class="alert-info">
                <td style="padding:5px; border-style: solid; border-color: white">&nbsp;</td>
                <td style="padding:5px; border-style: solid; border-color: white">&nbsp;</td>
                <td style="padding:5px; border-style: solid; border-color: white">&nbsp;</td>
                <td style="padding:5px; border-style: solid; border-color: white">&nbsp;</td>
                <td style="padding:5px; border-style: solid; border-color: white">&nbsp;</td>
                <td style="padding:5px; border-style: solid; border-color: white">&nbsp;</td>
                <td style="padding:5px; border-style: solid; border-color: white">&nbsp;</td>
                <td style="padding:5px; border-style: solid; border-color: white">&nbsp;</td>
                @*<td>&nbsp;</td>*@
                <td class="bg-success" style="padding:5px; border-style: solid; border-color: white"><strong> @Html.ActionLink("Add Hardware", "../Hardware/create", new { id = Model.LoIId })</strong></td>
            </tr>

        </table>
    </div>
</div>

