@model WebApplication1.Models.HEPMA.LocationOfInterest

@{
    ViewBag.Title = "Details";
}

<h2>Location of Interest Details </h2>

<!-- LoI Page Header - start ////////////////////////////////////////////////////////////////////////////////-->
<div>

    <p>
        @ViewBag.HospitalSite.Name >> @ViewBag.SiteLocationName >> @ViewBag.AreaOfCareName >> @Model.LoIName
    </p>
    
        <div class="custom_colour-3 custom_roundedBorderAll" style="padding:5px 10px">

            @Html.ActionLink("Back to List of Hospitals", "../HospitalSites/Index")
            ||
            @Html.ActionLink("Back to parent Hospital Site", "../HospitalSites/Details", new { id = ViewBag.hospitalSiteID })
            ||
            @Html.ActionLink("Back to parent Site Location", "../SiteLocations/Details", new { id = ViewBag.siteLocationID })
            ||
            @Html.ActionLink("Back to parent Area of Care", "../AreasOfCare/Details", new { id = Model.LoIAoCId })

        </div>

        <hr />

    </div>
    <!-- LoI Page Header - end ////////////////////////////////////////////////////////////////////////////////-->

    <div class="row">

        <div class="col-lg-4">
            <!-- LoI Left column ////////////////////////////////////////////////////////////////////////////////////// -->

            <div class="panel custom_roundedBorderAll" style="border: 1px solid black">

                <div class="panel-heading custom_panelHeadingBG custom_roundedBorderTop">

                    <h3 style="color:white">@Html.DisplayFor(model => model.LoIName)</h3>
                    <p class="custom_colour-3 text-center custom_roundedBorderAll">
                        <strong>@Html.ActionLink("Edit Location of Interest", "Edit", new { id = Model.LoIId })</strong>
                    </p>
                </div>

                <div class="panel-body">

                    <div class="col-lg-6 custom_colour-5 custom_roundedBorderLeft" style="padding:5px; border-style: solid; border-color: white">
                        @Html.DisplayNameFor(model => model.LoIRoomReference):
                    </div>
                    <div class="col-lg-6 custom_colour-3 custom_roundedBorderRight" style="padding:5px; border-style: solid; border-color: white">
                        @Html.DisplayFor(model => model.LoIRoomReference)
                    </div>

                    <div class="col-lg-12 custom_colour-5 custom_roundedBorderTop" style="padding:5px; border-style: solid; border-color: white">
                        @Html.DisplayNameFor(model => model.LoIDescription):
                    </div>
                    <div class="col-lg-12 custom_colour-3 custom_roundedBorderBottom" style="padding:5px; border-style: solid; border-color: white">
                        @Html.DisplayFor(model => model.LoIDescription) &nbsp;
                    </div>

                    <div class="col-lg-6 custom_colour-5 custom_roundedBorderLeft" style="padding:5px; border-style: solid; border-color: white">
                        @Html.DisplayNameFor(model => model.LoIPrescribing):
                    </div>
                    <div class="col-lg-6 custom_colour-3 custom_roundedBorderRight" style="padding:5px; border-style: solid; border-color: white">
                        @Html.DisplayFor(model => model.LoIPrescribing)
                    </div>

                    <div class="col-lg-6 custom_colour-5 custom_roundedBorderLeft" style="padding:5px; border-style: solid; border-color: white">
                        @Html.DisplayNameFor(model => model.LoIMedicinesAdministration):
                    </div>
                    <div class="col-lg-6 custom_colour-3 custom_roundedBorderRight" style="padding:5px; border-style: solid; border-color: white">
                        @Html.DisplayFor(model => model.LoIMedicinesAdministration)
                    </div>

                    <div class="col-lg-6 custom_colour-5 custom_roundedBorderLeft" style="padding:5px; border-style: solid; border-color: white">
                        @Html.DisplayNameFor(model => model.LoIPharmacyCheck):
                    </div>
                    <div class="col-lg-6 custom_colour-3 custom_roundedBorderRight" style="padding:5px; border-style: solid; border-color: white">
                        @Html.DisplayFor(model => model.LoIPharmacyCheck)
                    </div>

                    <div class="col-lg-12 custom_colour-5 custom_roundedBorderTop" style="padding:5px; border-style: solid; border-color: white">
                        @Html.DisplayNameFor(model => model.LoINotes):
                    </div>
                    <div class="col-lg-12 custom_colour-3 custom_roundedBorderBottom" style="padding:5px; border-style: solid; border-color: white">
                        @Html.DisplayFor(model => model.LoINotes)
                    </div>

                </div>
                <div class="panel-footer custom_panelFooterBG custom_roundedBorderBottom">

                    <div class="row">
                        <div class="col-lg-6 text-center">
                            <!-- Trigger the modal notes area -->
                            <button type="button" class="btn custom_colour-5 btn-sm custom_roundedBorderAll" data-toggle="modal" data-target="#myModal">LoI Notes</button>
                        </div>
                        <div class="col-lg-6 text-center">
                            <!--Link to hospital notes create page -->
                            @Html.ActionLink("Add LoI Note", "../NotesFieldLocationOfInterest/create", new { id = Model.LoIId })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <!-- LoI Right column ////////////////////////////////////////////////////////////////////////////////////// -->

            <table class="table">

                <tr class="bg-primary">
                    <td style="padding:5px; border-style: solid; border-color: white">Type</td>
                    <td style="padding:5px; border-style: solid; border-color: white">Asset NUmber</td>
                    <td style="padding:5px; border-style: solid; border-color: white">Mac Address</td>
                    <td style="padding:5px; border-style: solid; border-color: white">Network Port</td>
                    <td style="padding:5px; border-style: solid; border-color: white">NP In Use</td>
                    <td style="padding:5px; border-style: solid; border-color: white">Electrical Socket</td>
                    <td style="padding:5px; border-style: solid; border-color: white">ES In Use</td>
                    <td style="padding:5px; border-style: solid; border-color: white">Trailing Socket</td>
                    <td style="padding:5px; border-style: solid; border-color: white">&nbsp;</td>
                </tr>


                @foreach (var ListOfHardware in ViewBag.Hardware)
                {
                    <tr>

                        <td class="" style="border-style: solid; border-color: white">@ListOfHardware.HType</td>
                        <td class="" style="border-style: solid; border-color: white">@ListOfHardware.HAssetNumber</td>
                        <td class="" style="border-style: solid; border-color: white">@ListOfHardware.HMacAddress</td>
                        <td class="" style="border-style: solid; border-color: white">@ListOfHardware.HNetworkPort</td>
                        <td class="" style="border-style: solid; border-color: white">@ListOfHardware.HNPInUse</td>
                        <td class="" style="border-style: solid; border-color: white">@ListOfHardware.HElectricalSocket  </td>
                        <td class="" style="border-style: solid; border-color: white">@ListOfHardware.HESInUse</td>
                        <td class="" style="border-style: solid; border-color: white">@ListOfHardware.HTrailingSocket</td>
                        <td class="" style="border-style: solid; border-color: white">@Html.ActionLink("Edit", "../Hardware/Edit", new { id = ListOfHardware.HId })</td>
                    </tr>

                }


                <tr class="alert-info">
                    <td style="padding:5px; border-style: solid; border-color: white; border-radius:0px 0px 0px 15px">&nbsp;</td>
                    <td style="padding:5px; border-style: solid; border-color: white">&nbsp;</td>
                    <td style="padding:5px; border-style: solid; border-color: white">&nbsp;</td>
                    <td style="padding:5px; border-style: solid; border-color: white">&nbsp;</td>
                    <td style="padding:5px; border-style: solid; border-color: white">&nbsp;</td>
                    <td style="padding:5px; border-style: solid; border-color: white">&nbsp;</td>
                    <td style="padding:5px; border-style: solid; border-color: white">&nbsp;</td>
                    <td style="padding:5px; border-style: solid; border-color: white">&nbsp;</td>
                    @*<td>&nbsp;</td>*@
                    <td class="bg-success" style="padding:5px; border-style: solid; border-color: white"><strong> @Html.ActionLink("Add Hardware", "../Hardware/create", new { id = Model.LoIId })</strong></td>
                </tr>

            </table>
        </div>
    </div>

    <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- Notes - Modal code -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog ">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Location of Interest Notes - @Model.LoIName</h4>
                </div>
                <div class="modal-body">

                    @if (ViewBag.notesFieldLocationOfInterest != null)
                    {
                        foreach (var note in ViewBag.notesFieldLocationOfInterest)
                        {
                            <div class="panel">
                                <div class="panel-heading bg-info" style="background:#fac808">
                                    <p>@note.CreatedBy - @note.CreatedOn.ToString("dd/MM/yyyy") - @note.NoteType</p>
                                </div>
                                <div class="panel-body">
                                    <p>@note.Note</p>
                                </div>
                            </div>

                        }
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////-->
