@model IEnumerable<WebApplication1.Models.HEPMA.LocationOfInterest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoIName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoIRoomReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoIDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoIPrescribing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoIMedicinesAdministration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoIPharmacyCheck)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoINotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoIAoCId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoIName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoIRoomReference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoIDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoIPrescribing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoIMedicinesAdministration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoIPharmacyCheck)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoINotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoIAoCId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LoIId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LoIId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LoIId })
        </td>
    </tr>
}

</table>
