@model WebApplication1.Models.HEPMA.SiteLocation

@{
    ViewBag.Title = "Details";
}

<h2>Site Location Details </h2>

<div class="container">

    <div>
        <h4><strong>@Model.HospitalSite.Name - @Model.Name</strong></h4>

        @Html.ActionLink("Back to List of Hospitals", "../HospitalSites/Index") |
        @Html.ActionLink("Back to List of Site Locations", "../HospitalSites/Details", new { id = Model.HospitalSiteId }) |

        <hr />



        <div class="col-md-3">

            <div class="panel">

                <div class="panel-heading bg-primary">
                    <h5>@ViewBag.HospitalSiteName</h5>
                    <h3>@Html.DisplayFor(model => model.Name)</h3>
                    <h5>Areas of Care: @ViewBag.AreasOfCareCount</h5>
                    
                    <div class="bg-info text-center">

                                <strong>@Html.ActionLink("Edit Site Location", "Edit", new { id = Model.Id })</strong>

                    </div>
                </div>
                <div class="panel-body">
                    <p>
                        Areas of Care: @ViewBag.AreasOfCareCount
                    </p>
                        <p>
                            <strong>Desctiption:</strong>
                        </p>
                        <p>
                            @Html.DisplayFor(model => model.Name)
                        </p>
                        <p>
                            <strong>Notes:</strong>
                        </p>
                        <p>
                            @Html.DisplayFor(model => model.Notes)
                        </p>
                    </div>

                <div class="panel-footer">
                    <p>
                        &nbsp;
                    </p>
                </div>
            </div>

            @*<div class="bg-info">
                <p>&nbsp;</p>
            </div>*@
        </div>
    </div>

    <div class="col-md-9">

        <table class="table">

            <tr class="bg-primary">
                <td><strong>InScope</strong></td>
                <td><strong>Areas of Care</strong></td>
                <td><strong>Planned go-live</strong></td>
                <td><strong>Agreed</strong></td>
                <td><strong>No longer in scope</strong></td>
                <td>&nbsp</td>
                <td>&nbsp</td>
            </tr>

                @foreach (var ListOfAoC in ViewBag.AreasOfCare)
                {

            <tr>

                <td>
                    @if (ListOfAoC.InScope == true)
                    {<p class="bg-success">@ListOfAoC.InScope</p>}
                </td>

                <td>
                    @ListOfAoC.AoCName
                </td>

                <td>
                    @if (ListOfAoC.AoCPlannedGoLiveDate != null)
                    {@ListOfAoC.AoCPlannedGoLiveDate.ToString("dd/MM/yyyy")}
                </td>

                <td>
                    @if (ListOfAoC.AoCPlannedGoLiveDateAgreedAoC == true)
                    {
                        <p class="bg-success">@ListOfAoC.AoCPlannedGoLiveDateAgreedAoC</p>}
                </td>

                <td>
                    @if (ListOfAoC.NoLongerInScope == true)
                    {
                    <p class="bg-danger">
                        @*@ListOfAoC.NoLongerInScope*@
                        @ListOfAoC.NoLongerInScopeReason
                    </p>
                    }
                </td>
                <td>
                    @Html.ActionLink("Details", "../AreasOfCare/Details", new { id = ListOfAoC.AoCId })

                </td>
                <td>
                    | @Html.ActionLink("Edit", "../AreasOfCare/Edit", new { id = ListOfAoC.AoCId })
                    | @Html.ActionLink("Delete", "../AreasOfCare/Delete", new { id = ListOfAoC.AoCId }) |
                </td>
            </tr>

                }

                    <tr class="alert-info">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><strong>@Html.ActionLink("Create New AoC", "../AreasOfCare/Create", new { id = Model.Id })</strong></td>
                    </tr>
            </table>

    </div>
</div>
