@model WebApplication1.Models.HEPMA.SiteLocation

@{
    ViewBag.Title = "Details";
}

<h2>Site Location Details </h2>

<div class="container">

    <div>
        <h4><strong>@Model.HospitalSite.Name - @Model.Name</strong></h4>

                @Html.ActionLink("Back to List of Hospitals", "Index") |
                @Html.ActionLink("Back to List of Site Locations", "../HospitalSites/Details", new { id = Model.HospitalSiteId }) |

                <hr />



                <div class="col-md-3">

                    <div class="panel">

                        <div class="panel-heading bg-primary">
                            <h5>@ViewBag.HospitalSiteName</h5>
                            <h3>@Html.DisplayFor(model => model.Name)</h3>
                            <h5>Areas of Care: @ViewBag.AreasOfCareCount</h5>
                            
                            @*<hr />*@
                        </div>

                        <div class="panel-body">
                            <p>
                                <strong>Desctiption:</strong>
                            </p>
                            <p>
                                @Html.DisplayFor(model => model.Descrption)
                            </p>
                            <p>
                                <strong>Notes:</strong>
                            </p>
                            <p>
                                @Html.DisplayFor(model => model.Notes)
                            </p>
                        </div>
                        <div class="panel-footer">
                            <p>
                                Areas of Care:
                                @ViewBag.AreasOfCareCount
                            </p>
                        </div>
                    </div>

                    <table class="table">

                        <tr class="alert-info">
                            <td>&nbsp</td>
                            <td>
                                <strong>@Html.ActionLink("Edit Site Location", "Edit", new { id = Model.Id })</strong>
                            </td>
                        </tr>

                    </table>



                </div>
    </div>

    <div class="col-md-9">

        <table class="table">

                <tr class="bg-primary">
                    <td><strong>ID</strong></td>
                    <td><strong>Areas of Care</strong></td>
                    <td><strong>Description</strong></td>
                    <td>@*<strong>@Html.ActionLink("Create", "../AreasOfCare/Create")</strong>*@</td>
                    <td>&nbsp</td>
                </tr>

                @foreach (var ListOfAoC in ViewBag.AreasOfCare)
                {

                    <tr>

                        <td>
                            @ListOfAoC.AoCId
                        </td>

                        <td>
                            @ListOfAoC.AoCName
                        </td>

                        <td>
                            @ListOfAoC.AoCDescription
                        </td>

                        <td>
                            @Html.ActionLink("Details", "../AreasOfCare/Details", new { id = ListOfAoC.AoCId })
                            
                        </td>
                        <td>
                            | @Html.ActionLink("Edit", "../AreasOfCare/Edit", new { id = ListOfAoC.AoCId })
                            | @Html.ActionLink("Delete", "../AreasOfCare/Delete", new { id = ListOfAoC.AoCId }) |
                        </td>
                    </tr>

                }

                    <tr class="alert-info">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>&nbsp</td>
                        <td><strong>@Html.ActionLink("Create New AoC", "../AreasOfCare/Create", new { id = Model.Id })</strong></td>
                    </tr>
            </table>


        @*</div>*@


    </div>
</div>
