@model WebApplication1.Models.HEPMA.AreaOfCare

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form">
    <h4>AreaOfCare</h4>
    <hr />


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">

        <div class="col-lg-4">
            @* start 4 col ///////////////////////////////////////////////////////////////////////////////////*@

            <div class="panel">

                <div class="panel-heading bg-primary">
                    <h5>Project Information</h5>
                </div>

                <div class="panel-body">

                    @*-------------------------------------------------------------------------------------------*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.AoCName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AoCName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AoCName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*-------------------------------------------------------------------------------------------*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.AoCType, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AoCType, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AoCType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*-------------------------------------------------------------------------------------------*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.AoCDescription, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AoCDescription, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AoCDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*-------------------------------------------------------------------------------------------*@




                    @*-------------------------------------------------------------------------------------------*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.AoCName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AoCName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AoCName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*-------------------------------------------------------------------------------------------*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.AoCType, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AoCType, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AoCType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*-------------------------------------------------------------------------------------------*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.AoCDescription, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AoCDescription, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AoCDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*-------------------------------------------------------------------------------------------*@








                    <div class="form-group">
                        @Html.LabelFor(model => model.AoCImplementationOrder, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AoCImplementationOrder, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AoCImplementationOrder, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*-------------------------------------------------------------------------------------------*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.AoCRecordClosed, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AoCRecordClosed, new { htmlAttributes = new { @class = "form-control datepicker" } })
                            @Html.ValidationMessageFor(model => model.AoCRecordClosed, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*-------------------------------------------------------------------------------------------*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.AoCRecordClosed, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AoCRecordClosed, new { htmlAttributes = new { @class = "form-control dp datepicker" } })
                            @Html.ValidationMessageFor(model => model.AoCRecordClosed, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*-------------------------------------------------------------------------------------------*@
                </div>
        </div>

        <div class="panel">

            <div class="panel-heading bg-primary">
                <h5>Project Information</h5>
            </div>

            <div class="panel-body">

                    
                    
                
                    @*-------------------------------------------------------------------------------------------*@
                    
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCRecordClosed, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.AoCRecordClosed, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCRecordClosed, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*-------------------------------------------------------------------------------------------*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCImplementationOrder, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.AoCImplementationOrder, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCImplementationOrder, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    
                    @*-------------------------------------------------------------------------------------------*@

                </div>
            </div>

        </div>                  @* end 4 col ////////////////////////////////////////////////////////////////////////////////////////*@

        <div class="col-lg-4">
            @* start 4 cal //////////////////////////////////////////////////////////////////////////////////////*@
            <div class="panel">

                <div class="panel-heading bg-primary">
                    <h5>Project Information</h5>
                </div>

                <div class="panel-body">




                    @*-------------------------------------------------------------------------------------------*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.AoCRecordClosed, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AoCRecordClosed, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AoCRecordClosed, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*-------------------------------------------------------------------------------------------*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.AoCImplementationOrder, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AoCImplementationOrder, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AoCImplementationOrder, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*-------------------------------------------------------------------------------------------*@

                </div>
            </div>
        </div>                  @* end 4 col ////////////////////////////////////////////////////////////////////////////////////////*@
        <div class="col-lg-4">
            @* start 4 cal //////////////////////////////////////////////////////////////////////////////////////*@


        </div>                  @* end 4 col ////////////////////////////////////////////////////////////////////////////////////////*@

    </div>


</div>
}

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</div>

<div>
    @*@Html.ActionLink("Back to List", "../SiteLocations/Details/", new { id = Model.SiteLocationId })*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
