@model WebApplication1.Models.HEPMA.AreaOfCare

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<h4>AreaOfCare</h4>
<div>
    @Html.ActionLink("Cancel", "../SiteLocations/Details/", new { id = Model.SiteLocationId })
</div>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">

            <div class="col-lg-6">
                @* start 4 col ///////////////////////////////////////////////////////////////////////////////////*@

                <div class="panel">

                    <div class="panel-heading bg-primary">
                        <h5>Project Information</h5>
                    </div>

                    <div class="panel-body">

                        @*--InScope--------------------------------------------------------------------------*@
                        <div class="col-lg-12 bg-success">
                            <div class="form-group">
                                @Html.LabelFor(model => model.InScope, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.CheckBoxFor(model => model.InScope, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.InScope, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        &nbsp;
                        <div class="form-group">
                            @*--SiteLocationId----------------------------------------------------------------------------------*@
                            @*@Html.LabelFor(model => model.SiteLocationId, "SiteLocationId", htmlAttributes: new { @class = "control-label col-md-4" })*@
                            <div class="col-md-8">
                                @Html.HiddenFor(model => model.SiteLocationId, htmlAttributes: new { @class = "control-label col-md-4" })
                                @*@Html.DropDownList("SiteLocationId", null, htmlAttributes: new { @class = "form-control" })*@
                                @*@Html.ValidationMessageFor(model => model.SiteLocationId, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        @*--AoCName----------------------------------------------------------------------------------*@
                        &nbsp;
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCName, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.AoCName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*--AoCType----------------------------------------------------------------------------------*@
                        &nbsp;
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCType, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.AoCType, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*--AoCDescription---------------------------------------------------------------------------*@
                        &nbsp;
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCDescription, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.AoCDescription, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*-------------------------------------------------------------------------------------------*@
                        &nbsp;
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCPlannedGoLiveDate, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.AoCPlannedGoLiveDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCPlannedGoLiveDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*--AoCPlannedGoLiveDateAgreedAoC--------------------------------------------------------------------------*@
                        &nbsp;
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCPlannedGoLiveDateAgreedAoC, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.CheckBoxFor(model => model.AoCPlannedGoLiveDateAgreedAoC, new { htmlAttributes = new { @class = "form-control" } })

                                @Html.ValidationMessageFor(model => model.AoCPlannedGoLiveDateAgreedAoC, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*--AoCRecordOpened--------------------------------------------------------------------------*@
                        &nbsp;
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCRecordOpened, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.AoCRecordOpened, new { htmlAttributes = new { @class = "datetimepicker  form-control" } })

                                @Html.ValidationMessageFor(model => model.AoCRecordOpened, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*--AoCRecordClosed--------------------------------------------------------------------------*@
                        &nbsp;
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCRecordClosed, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.AoCRecordClosed, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCRecordClosed, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*--AoCFirstContactDate----------------------------------------------------------------------*@
                        &nbsp;
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCFirstContactDate, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.AoCFirstContactDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCFirstContactDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*--AoCLive----------------------------------------------------------------------------------*@
                        &nbsp;
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCLive, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.CheckBoxFor(model => model.AoCLive, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCLive, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*--AoCLiveDate------------------------------------------------------------------------------*@
                        &nbsp;
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCLiveDate, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.AoCLiveDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCLiveDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*--AoCBaU-----------------------------------------------------------------------------------*@
                        &nbsp;
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCBaU, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.CheckBoxFor(model => model.AoCBaU, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCBaU, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*--AoCBaUDate-------------------------------------------------------------------------------*@
                        &nbsp;
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCBaUDate, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.AoCBaUDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCBaUDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*--AoCOnHold--------------------------------------------------------------------------------*@
                        &nbsp;
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCOnHold, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.CheckBoxFor(model => model.AoCOnHold, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCOnHold, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*--AoConHoldReason--------------------------------------------------------------------------*@
                        &nbsp;
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoConHoldReason, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.AoConHoldReason, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoConHoldReason, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*--NoLongerInScope--------------------------------------------------------------------------------*@
                        &nbsp;
                        <div class="form-group">
                            @Html.LabelFor(model => model.NoLongerInScope, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.CheckBoxFor(model => model.NoLongerInScope, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NoLongerInScope, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*--NoLongerInScopeReason--------------------------------------------------------------------------*@
                        &nbsp;
                        <div class="form-group">
                            @Html.LabelFor(model => model.NoLongerInScopeReason, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.NoLongerInScopeReason, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NoLongerInScopeReason, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*-------------------------------------------------------------------------------------------*@


                    </div>   @*end panel body*@
                </div>   @*end panel*@

            </div>   @* end 6 col ///////////////////////////////////////////////////////////////////////////////////*@

            <div class="col-lg-6">
                @* start 6 cal //////////////////////////////////////////////////////////////////////////////////////*@

                <div class="panel">
                    <div class="panel-heading bg-primary">
                        <h5>Use of Trak</h5>
                    </div>
                    <div class="panel-body">

                        <div class="table">


                            <div class="row">
                                @*--AoCMedicinesReconciliation---------------------------------------------------------------*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AoCMedicinesReconciliation, htmlAttributes: new { @class = "control-label col-md-5" })
                                    <div class="col-md-1">
                                        @Html.CheckBoxFor(model => model.AoCMedicinesReconciliation, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AoCMedicinesReconciliation, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                @* //////////////////////////////////////// Data item no longer used ////////////////////////////////*@
                                @*--AoCMedicinesReconciliationRealTime-------------------------------------------------------*@
                                <div class="form-group">
                                    <div class="col-lg-5">
                                        @*@Html.LabelFor(model => model.AoCMedicinesReconciliationRealTime, htmlAttributes: new { @class = "control-label col-md-5" })*@
                                        &nbsp;
                                    </div>
                                    <div class="col-md-1">
                                        @Html.HiddenFor(model => model.AoCMedicinesReconciliationRealTime, new { htmlAttributes = new { @class = "form-control" } })
                                        @*@Html.ValidationMessageFor(model => model.AoCMedicinesReconciliationRealTime, "", new { @class = "text-danger" })*@
                                        &nbsp;
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                @*----AoCOutpatientClinicManagedOnTrak-------------------------------------------------------*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AoCOutpatientClinicManagedOnTrak, htmlAttributes: new { @class = "control-label col-md-5" })
                                    <div class="col-md-1">
                                        @Html.CheckBoxFor(model => model.AoCOutpatientClinicManagedOnTrak, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AoCOutpatientClinicManagedOnTrak, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                @*--AoCOutpatientClinicManagedOnTrakInRealTime-----------------------------------------------*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AoCOutpatientClinicManagedOnTrakInRealTime, htmlAttributes: new { @class = "control-label col-md-5" })
                                    <div class="col-md-1">
                                        @Html.CheckBoxFor(model => model.AoCOutpatientClinicManagedOnTrakInRealTime, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AoCOutpatientClinicManagedOnTrakInRealTime, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                @*--AoCADTsManagedOnTrak---------------------------------------------------------------------*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AoCADTsManagedOnTrak, htmlAttributes: new { @class = "control-label col-md-5" })
                                    <div class="col-md-1">
                                        @Html.CheckBoxFor(model => model.AoCADTsManagedOnTrak, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AoCADTsManagedOnTrak, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @*--AoCADTsManagedOnTraIInRealTime-----------------------------------------------------------*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AoCADTsManagedOnTraIInRealTime, htmlAttributes: new { @class = "control-label col-md-5" })
                                    <div class="col-md-1">
                                        @Html.CheckBoxFor(model => model.AoCADTsManagedOnTraIInRealTime, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AoCADTsManagedOnTraIInRealTime, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            @*--AoCIDLsProducedInTrak--------------------------------------------------------------------*@
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AoCIDLsProducedInTrak, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-1">
                                    @Html.CheckBoxFor(model => model.AoCIDLsProducedInTrak, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AoCIDLsProducedInTrak, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            @* //////////////////////////////////////// Data item no longer used ////////////////////////////////*@
                            @*--AoCIDLsProducedInTrakInRealTime----------------------------------------------------------*@

                            <div class="form-group col-lg-5">
                                @*@Html.LabelFor(model => model.AoCIDLsProducedInTrakInRealTime, htmlAttributes: new { @class = "control-label col-md-5" })*@
                                <div class="col-md-1">
                                    @Html.HiddenFor(model => model.AoCIDLsProducedInTrakInRealTime, new { htmlAttributes = new { @class = "form-control" } })
                                    @*@Html.ValidationMessageFor(model => model.AoCIDLsProducedInTrakInRealTime, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>


                        </div>   @*end table---------------------------------*@
                        &nbsp;

                    </div>   @*end panel body*@
                </div>   @*end panel*@

                <div class="panel">

                    <div class="panel-heading bg-primary">
                        <h5>Prescribing</h5>
                    </div>

                    <div class="panel-body">

                        <div class="table">

                            @*--AoCWardRounds-----------------------------------------------------------------------------------------*@
                            <div class="form-group">
                                @Html.LabelFor(model => model.AoCWardRounds, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-1">
                                    @Html.CheckBoxFor(model => model.AoCWardRounds, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AoCWardRounds, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*--AoCDoctorsRoom----------------------------------------------------------------------------------------*@
                            <div class="form-group">
                                @Html.LabelFor(model => model.AoCDoctorsRoom, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-1">
                                    @Html.CheckBoxFor(model => model.AoCDoctorsRoom, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AoCDoctorsRoom, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*--AoCNursesStation--------------------------------------------------------------------------------------*@
                            <div class="form-group">
                                @Html.LabelFor(model => model.AoCNursesStation, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-1">
                                    @Html.CheckBoxFor(model => model.AoCNursesStation, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AoCNursesStation, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    &nbsp;
                                </div>
                            </div>

                            &nbsp;
                            <div class="table">
                                @*--AoCOffice-----------------------------------------------------------------------------------------*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AoCOffice, htmlAttributes: new { @class = "control-label col-md-5" })
                                    <div class="col-md-1">
                                        @Html.CheckBoxFor(model => model.AoCOffice, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AoCOffice, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            &nbsp;

                            @*--AoCOfficeText----------------------------------------------------------------------------------------*@
                            <div class="form-group">
                                @Html.LabelFor(model => model.AoCOfficeText, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.AoCOfficeText, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AoCOfficeText, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>   @*end table*@

                        <div class="col-lg-12">
                            <p>&nbsp;</p>
                        </div>

                        @*--AoCPOther----------------------------------------------------------------------------------*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCPOther, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-1">
                                @Html.CheckBoxFor(model => model.AoCPOther, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCPOther, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <p>&nbsp;</p>
                        </div>

                        @*--AoCPOtherText----------------------------------------------------------------------------*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCPOtherText, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.AoCPOtherText, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCPOtherText, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*-------------------------------------------------------------------------------------------*@

                    </div>   @*end panel body*@
                </div>   @*end panel*@

                <div class="panel">

                    <div class="panel-heading bg-primary">
                        <h5>Medicines Administration</h5>
                    </div>

                    <div class="panel-body">
                        <div class="table">
                            @*--AoCDrugRoundAtBedside-------------------------------------------------------------------*@
                            <div class="form-group">
                                @Html.LabelFor(model => model.AoCDrugRoundAtBedside, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-1">
                                    @Html.CheckBoxFor(model => model.AoCDrugRoundAtBedside, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AoCDrugRoundAtBedside, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*--AoCDrugRoundFromCentralPoint------------------------------------------------------------*@
                            <div class="form-group">
                                @Html.LabelFor(model => model.AoCDrugRoundFromCentralPoint, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-1">
                                    @Html.CheckBoxFor(model => model.AoCDrugRoundFromCentralPoint, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AoCDrugRoundFromCentralPoint, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>   @*end table*@
                        &nbsp;
                        @*--AoCPatientComesToCentralPoint-----------------------------------------------------------*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCPatientComesToCentralPoint, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-1">
                                @Html.CheckBoxFor(model => model.AoCPatientComesToCentralPoint, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCPatientComesToCentralPoint, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-6">
                            &nbsp;
                        </div>
                        &nbsp;
                        @*--AoCMAOther------------------------------------------------------------------------------*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCMAOther, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-1">
                                @Html.CheckBoxFor(model => model.AoCMAOther, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCMAOther, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            &nbsp;
                        </div>

                        @*--AoCMAOtherText--------------------------------------------------------------------------*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCMAOtherText, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.AoCMAOtherText, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCMAOtherText, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>   @*end panel body*@
                </div>   @*end panel*@

                <div class="panel">
                    <div class="panel-heading bg-primary">
                        <h5>Pharmacy check</h5>
                    </div>
                    <div class="panel-body">
                        @*--AoCBedside------------------------------------------------------------------------------*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCBedside, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.CheckBoxFor(model => model.AoCBedside, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCMAOtherText, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        &nbsp;
                        @*--AoCCentralPointInWard-------------------------------------------------------------------*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCCentralPointInWard, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.CheckBoxFor(model => model.AoCCentralPointInWard, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCCentralPointInWard, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        &nbsp;
                        @*--AoCPCOher-------------------------------------------------------------------------------*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCPCOher, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.CheckBoxFor(model => model.AoCPCOher, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCPCOher, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        &nbsp;
                        @*--AoCPCOher-------------------------------------------------------------------------------*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.AoCPCOtherText, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.AoCPCOtherText, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AoCPCOtherText, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        &nbsp;
                        @*------------------------------------------------------------------------------------------*@

                    </div>   @*end panel body*@
                </div>   @*end panel*@

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </div>

            </div>@* end 6 col ////////////////////////////////////////////////////////////////////////////////////*@
        </div>


    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

