@model WebApplication1.Models.HEPMA.AreaOfCare

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
@Html.ActionLink("Back to List", "../SiteLocations/Details/", new { id = Model.SiteLocationId })
<hr />
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AreaOfCare</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SiteLocation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteLocation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoCDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoCDescription)
        </dd>





    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
        </div>
    }
</div>
