@model WebApplication1.Models.HEPMA.AreaOfCare

@{
    ViewBag.Title = "Details";
}

<h2>Area Of Care Details</h2>

<div>
    <h4><strong>@ViewBag.HospitalSite - @Model.AoCName</strong></h4>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.AoCId }) |
        @Html.ActionLink("Back to List", "../SiteLocations/Details/", new { id = Model.SiteLocationId })
    </p>
    <hr />
</div>


<div class="row">
    <div class="col-lg-6">
        <div class="panel">
            <div class="panel-heading bg-primary">
                <h5>Project Information</h5>
            </div>
            <div class="panel-body">
                @*--SiteLocation----------------------------------------------------------------------------------*@
                <div class="col-lg-2">
                    @Html.DisplayNameFor(model => model.SiteLocation)
                    <div class="col-lg-10">
                        @Html.DisplayFor(model => model.SiteLocation)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel">
                <div class="panel-heading bg-primary">
                    <h5>Project Information</h5>
                </div>
                <div class="panel-body">
                    @*--SiteLocationId----------------------------------------------------------------------------------*@

                </div>
            </div>

        </div>
    </div>
</div>