@model WebApplication1.Models.HEPMA.AreaOfCare

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AreaOfCare</h4>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "../SiteLocations/Details/", new { id = Model.SiteLocationId })
    </p>
    <hr />
</div>


<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#AoCGeneralInformation">AoC General Information</a></li>
    <li><a data-toggle="tab" href="#AoCProjectDates">AoC Project Dates</a></li>
    <li><a data-toggle="tab" href="#AoCBusinessProcess">AoC Business Process</a></li>
    <li><a data-toggle="tab" href="#AoCGoliveChecklist">AoC Golive Checklist</a></li>
    <li><a data-toggle="tab" href="#AoCBaUChecklist">AoC BaU Checklist</a></li>
</ul>


<div class="tab-content">
    <div id="AoCGeneralInformation" class="tab-pane fade in active">
        <h3>AoC General Information</h3>

        @*Area of Care - high level information on Area of Care*@
        <div class="row">

            <div class="col-md-6">
                <Div class="table">
                    <table class="table table-hover">
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.SiteLocation.Name)</strong></td>
                            <td><strong>@Html.DisplayFor(model => model.SiteLocation.Name)</strong></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.AocType)</strong></td>
                            <td>@Html.DisplayFor(model => model.AocType)</td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.Description)</strong></td>
                            <td>@Html.DisplayFor(model => model.Description)</td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.Name)</strong></td>
                            <td>@Html.DisplayFor(model => model.Name)</td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.Status)</strong></td>
                            <td>@Html.DisplayFor(model => model.Status)</td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.Notes)</strong></td>
                            <td>@Html.DisplayFor(model => model.Notes)</td>
                        </tr>

                        <tr>
                            <td><strong></strong></td>
                            <td></td>
                        </tr>


                    </table>
                </Div>
            </div>

            <div class="col-md-6">
            </div>

        </div>
    </div>


    <div id="AoCProjectDates" class="tab-pane fade">
        <h3>AoC Project Date</h3>

        @*AoC project dates - dates relevent to the project*@
        <div class="row">

            <div class="col-md-6">
                <Div class="table">
                    <table class="table table-hover">
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.FirstContactDate)</strong></td>
                            <td>@Html.DisplayFor(model => model.FirstContactDate)</td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.FirstContactNotes)</strong></td>
                            <td>@Html.DisplayFor(model => model.FirstContactNotes)</td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.PlannedGoLiveDate)</strong></td>
                            <td>@Html.DisplayFor(model => model.PlannedGoLiveDate)</td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.PlannedGoLiveNotes)</strong></td>
                            <td>@Html.DisplayFor(model => model.PlannedGoLiveNotes)</td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.ActualGoLiveDate)</strong></td>
                            <td>@Html.DisplayFor(model => model.ActualGoLiveDate)</td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.ActualGoLiveNotes)</strong></td>
                            <td>@Html.DisplayFor(model => model.ActualGoLiveNotes)</td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.BauHandoverDate)</strong></td>
                            <td>@Html.DisplayFor(model => model.BauHandoverDate)</td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.BauHandoverNotes)</strong></td>
                            <td>@Html.DisplayFor(model => model.BauHandoverNotes)</td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.AoCGeneralNotes)</strong></td>
                            <td>@Html.DisplayFor(model => model.AoCGeneralNotes)</td>
                        </tr>
                        <tr>
                            <td><strong></strong></td>
                            <td></td>
                        </tr>

                    </table>
                </Div>
            </div>

            <div class="col-md-6">
            </div>

        </div>
    </div>



    <div id="AoCBusinessProcess" class="tab-pane fade">
        <h3>AoC Business Process</h3>

        @*AoC business process*@

        <div class="row">
            <div class="col-md-2">
                <strong>@Html.DisplayNameFor(model => model.ADTs)</strong>
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.ADTs)
            </div>
            <div class="col-md-2">
                <strong>@Html.DisplayNameFor(model => model.ADTsNotes)</strong>
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.ADTsNotes)
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <strong>@Html.DisplayNameFor(model => model.ADTsRealTime)</strong>
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.ADTsRealTime)
            </div>
            <div class="col-md-2">
                <p>.</p>
            </div>
            <div class="col-md-3">
                <p>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <strong>@Html.DisplayNameFor(model => model.OPCLinic)</strong>
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.OPCLinic)
            </div>
            <div class="col-md-2">
                <strong>@Html.DisplayNameFor(model => model.OPClinicNotes)</strong>
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.OPClinicNotes)
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <strong>@Html.DisplayNameFor(model => model.OPClinicRealTIme)</strong>
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.OPClinicRealTIme)
            </div>
            <div class="col-md-2">
                <p>.</p>
            </div>
            <div class="col-md-3">
                <p>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.MedRec)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.MedRec)
            </div>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.MedRecWho)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.MedRecWho)
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <p>.</p>
            </div>
            <div class="col-md-3">
                <p>.</p>
            </div>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.MedRecWhere)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.MedRecWhere)
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <p>.</p>
            </div>
            <div class="col-md-3">
                <p>.</p>
            </div>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.MedRecWhen)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.MedRecWhen)
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <p>.</p>
            </div>
            <div class="col-md-3">
                <p>.</p>
            </div>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.MedRecNotes)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.MedRecNotes)
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>


        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.PrescWardRounds)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.PrescWardRounds)
            </div>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.PrescWardRoundsNotes)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.PrescWardRoundsNotes)
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.PrescGeneralNotes)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.PrescGeneralNotes)
            </div>
            <div class="col-md-2">
                <p>.</p>
            </div>
            <div class="col-md-3">
                <p>.</p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>


        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.PrescMDTs)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.PrescMDTs)
            </div>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.PrescMDTsNotes)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.PrescMDTsNotes)
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.PrescNursesOffice)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.PrescNursesOffice)
            </div>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.PrescNursesOfficeNotes)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.PrescNursesOfficeNotes)
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.PrescOther)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.PrescOther)
            </div>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.PrescOtherNotes)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.PrescOtherNotes)
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.PrescUsersEpr)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.PrescUsersEpr)
            </div>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.PrescUsersEprNotes)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.PrescUsersEprNotes)
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.DrugRoundBedsideRecording)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.DrugRoundBedsideRecording)
            </div>
            <div class="col-md-2">
                <p>.</p>
            </div>
            <div class="col-md-3">
                <p>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.DrugRoundCentralPoint)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.DrugRoundCentralPoint)
            </div>
            <div class="col-md-2">
                <p>.</p>
            </div>
            <div class="col-md-3">
                <p>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.PatToCentralPoint)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.PatToCentralPoint)
            </div>
            <div class="col-md-2">
                <p>.</p>
            </div>
            <div class="col-md-3">
                <p>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Other)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.Other)
            </div>
            <div class="col-md-2">
                <p>.</p>
            </div>
            <div class="col-md-3">
                <p>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.MedAdminNotes)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.MedAdminNotes)
            </div>
            <div class="col-md-2">
                <p>.</p>
            </div>
            <div class="col-md-3">
                <p>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.MedAdminUsersEpr)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.MedAdminUsersEpr)
            </div>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.MedAdminUsersEprNotes)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.MedAdminUsersEprNotes)
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.PharmCheck)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.PharmCheck)
            </div>
            <div class="col-md-2">
                <p>.</p>
            </div>
            <div class="col-md-3">
                <p>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.PharmCheckBedsite)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.PharmCheckBedsite)
            </div>
            <div class="col-md-2">
                <p>.</p>
            </div>
            <div class="col-md-3">
                <p>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.PharmCheckOther)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.PharmCheckOther)
            </div>
            <div class="col-md-2">
                <p>.</p>
            </div>
            <div class="col-md-3">
                <p>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.PharmCheckNotes)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.PharmCheckNotes)
            </div>
            <div class="col-md-2">
                <p>.</p>
            </div>
            <div class="col-md-3">
                <p>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.PharmChecUsersEpr)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.PharmChecUsersEpr)
            </div>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.PharmChecEprNotes)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.PharmChecEprNotes)
            </div>
        </div>

    </div>

    <div id="AoCGoliveChecklist" class="tab-pane fade">
        <h3>AoC Golive Checklist</h3>
        @*AoC Golive Checklist*@
        <p>.</p>

        <div class="row">
            <div class="col-md-12">
                <Div class="table">
                    <table class="table table-hover">
                        <tr>
                            <td>
                                <h5>Users</h5>
                                <p>.</p>
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <h5>Software</h5>
                                <p>.</p>
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <h5>Hardware</h5>
                                <p>.</p>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <h5>Infrastructure</h5>
                                <p>.</p>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <h5>Notes</h5>
                                <p>.</p>
                            </td>

                        </tr>

                    </table>
                </Div>
            </div>
        </div>



    </div>

    <div id="AoCBaUChecklist" class="tab-pane fade">
        <h3>AoC BaUCheck list</h3>
        @*AoC BaUCheck list*@
        <p>.</p>

        <div class="row">
            <div class="col-md-12">
                <Div class="table">
                    <table class="table table-hover">
                        <tr>
                            <td>
                                <h5>Users</h5>
                                <p>.</p>
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <h5>Software</h5>
                                <p>.</p>
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <h5>Hardware</h5>
                                <p>.</p>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <h5>Infrastructure</h5>
                                <p>.</p>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <h5>Notes</h5>
                                <p>.</p>
                            </td>

                        </tr>

                    </table>
                </Div>
            </div>
        </div>



    </div>
</div>
    




    @* 1 1 *@
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-3">

        </div>
    </div>

    @* 1 x  *@
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-2">
            <p>.</p>
        </div>
        <div class="col-md-3">
            <p>.</p>
        </div>
    </div>

    @* x 1 *@
    <div class="row">
        <div class="col-md-2">
            <p>.</p>
        </div>
        <div class="col-md-3">
            <p>.</p>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-3">

        </div>
    </div>

    @* hr break *@
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>


