@model IEnumerable<WebApplication1.Models.HEPMA.AreaOfCare>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SiteLocation.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AocType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstContactDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstContactNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlannedGoLiveDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlannedGoLiveNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualGoLiveDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualGoLiveNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BauHandoverDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BauHandoverNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoCGeneralNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADTs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADTsRealTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADTsNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPCLinic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPClinicRealTIme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPClinicNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedRec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedRecWho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedRecWhere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedRecWhen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedRecNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrescWardRounds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrescWardRoundsNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrescMDTs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrescMDTsNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrescNursesOffice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrescNursesOfficeNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrescOther)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrescOtherNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrescUsersEpr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrescUsersEprNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrescGeneralNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrugRoundBedsideRecording)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrugRoundCentralPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatToCentralPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedAdminNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedAdminUsersEpr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedAdminUsersEprNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PharmCheck)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PharmCheckBedsite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PharmCheckOther)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PharmCheckNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PharmChecUsersEpr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PharmChecEprNotes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SiteLocation.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AocType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstContactDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstContactNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlannedGoLiveDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlannedGoLiveNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualGoLiveDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualGoLiveNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BauHandoverDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BauHandoverNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AoCGeneralNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADTs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADTsRealTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADTsNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPCLinic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPClinicRealTIme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPClinicNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedRec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedRecWho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedRecWhere)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedRecWhen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedRecNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrescWardRounds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrescWardRoundsNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrescMDTs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrescMDTsNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrescNursesOffice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrescNursesOfficeNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrescOther)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrescOtherNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrescUsersEpr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrescUsersEprNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrescGeneralNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrugRoundBedsideRecording)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrugRoundCentralPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatToCentralPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedAdminNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedAdminUsersEpr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedAdminUsersEprNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PharmCheck)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PharmCheckBedsite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PharmCheckOther)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PharmCheckNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PharmChecUsersEpr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PharmChecEprNotes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
